<!DOCTYPE html>

<html lang = "pt-br">

<head>

    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

    <!-- CSS importation -->
    <link rel = "stylesheet" href = "./modal.css">

    <!-- Vue CDN importation -->
    <script src = "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- BootStrap importation -->
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin = "anonymous">
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity = "sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin = "anonymous"></script>
    
    <title>Testing Vue</title>

</head>

<body>
    
    <div id="root">

        <div class="container w-50">

            <h1 class="mt-4 mb-4">COMMENT ANYTHING</h1>

            <div class="input-group mb-3">
        
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                <input v-model="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        
            </div>
        
            <div class="form-floating mb-4">

                <textarea v-model="message" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comment here</label>

            </div>
            
            <div class="mb-4">

                <button v-on:click="addComment" type="button" class="btn btn-primary me-4">Add</button>
                <button v-on:click="removeAllComments" type="button" class="btn btn-danger ms-4 me-4">Remove All</button>
                <button type="button" class="btn btn-primary ms-4">

                    <span class="badge">{{ this.newArrayLenght }}</span>

                </button>
                
            
            </div>

            <ul class="list-group">

               <div class="list-group-item" v-for="(comment, index) in comments">

                    <span>

                        <h6><span class="badge badge-secondary bg-warning text-dark">{{ index }}</span></h6>
                        <span class="fw-bold">{{ comment.name }}</span>
                        <p class="fst-italic">{{ comment.message }}</p>
                        <button v-on:click="removeComment(index)" type="button" class="btn btn-outline-danger mb-2">Delete</button>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-success ms-4 mb-2" v-on:click="showModal">Update</button>

                    </span>

               </div>
                
                
            </ul>

        </div>

        <!-- Modal -->
        <div id="modalContainer">

            <div id="modal">

                <h1>Update!</h1>

                <div class="input-group mt-3 mb-3">

                    <input type="text" class="form-control" placeholder="New name">

                </div>

                <div class="input-group mb-4">

                    <textarea class="form-control" placeholder="New comment"></textarea>

                </div>

                <div id="buttonContainer">

                    <button type="button" class="btn btn-outline-danger me-5">Cancel</button>
                    <button type="button" class="btn btn-outline-success ms-5 me-5" v-on:click="updateComment(index)">Update</button>
                
                </div>

            </div>

        </div>

    </div>

    <script>

        new Vue({

            el: "#root",
            data() {

                return {

                    comments: [],
                    name: '',
                    message: '',
                    newArrayLenght: 0,

                }

            },  
            methods: {

                addComment() {

                    if( this.name.trim() == '' || this.message.trim() == "" )

                        alert("Input can't be empty!")

                    else {

                        // function unshift return the lenght of the array
                        this.newArrayLenght = this.comments.unshift({

                            name: this.name,
                            message: this.message

                        })

                        this.name = ''
                        this.message = ''

                    }

                },

                removeComment(id) {

                    this.comments.splice(id, 1)
                    this.newArrayLenght--

                },

                removeAllComments() {

                    while(this.newArrayLenght != 0) {

                        this.comments.pop()
                        this.newArrayLenght--

                    }

                },

                updateComment(id) {

                 console.log('trying to implement a modal to update the comments')   

                },

                showModal() {

                    document.querySelector('#modalContainer').style.display = 'flex'

                },

            }
            
        })

    </script>

</body>

</html>